.wrapper {
  display: inline-block;
}

.game {
  float: left;
}

.stats {
  float: right;
  margin-left: 2em;
  min-height: 800px;
  max-width: 400px;
  border: 10px solid lightgrey;
  text-align: center;
}

#player-turn {
  min-height: 5em;
}

#game-status {
  min-height: 5em;
}
